/*reset*/

 *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color: white;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

/*gallery*/
.gallery { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: fit-content;
  margin: 0 auto;
}

.gallery-img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #808080;
}

.info {
  text-align: center;
}

.info-part {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
}

.info-description {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-align: center;
}

.info-number {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-align: center;
}

/*form*/
.form {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.label-input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}

input[type="text"] {
  padding-left: 16px;
}

input::placeholder {
  color: #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  display: flex;
  align-items: flex-start;
}

.submit-button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #4E75FF;
  height: 40px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.submit-button:hover, .submit-button:active {
  background-color: #6C8CFF;
}

/*loader*/

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 48px;
  height: 48px;
  border: 2px solid;
  border-color: transparent #FFF;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  background-color: rgba(0, 0, 0, 0.5);
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/*load more button*/

.load-more-button {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  margin-top: 32px;
}

.load-more-button:hover, .load-more-button:active {
  background-color: #6C8CFF;
}

.loader-text {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.hidden {
  display: none;
}